FROM ros:humble

RUN apt update && apt install -y \
    ros-humble-moveit \
    ros-humble-realsense2-camera \
    ros-humble-perception-pcl \
    python3-colcon-common-extensions \
    && rm -rf /var/lib/apt/lists/*

WORKDIR /workspace
COPY src ./src

RUN . /opt/ros/humble/setup.sh && colcon build
ENTRYPOINT ["bash", "-c", "source install/setup.bash && ros2 launch backend_ros full_system.launch.py"]
